<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>SimpleEFA.html</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>StationNameServlet</servlet-name>
    <servlet-class>simpleefa.server.StationNameServlet</servlet-class>
  </servlet>      
   
  <servlet-mapping>
    <servlet-name>StationNameServlet</servlet-name>
    <url-pattern>/stationname</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>NextDepartures</servlet-name>
    <servlet-class>simpleefa.server.NextDeparturesServlet</servlet-class>
  </servlet>      
   
  <servlet-mapping>
    <servlet-name>NextDepartures</servlet-name>
    <url-pattern>/nextdepartures</url-pattern>
  </servlet-mapping>
  
    
  <servlet>
    <servlet-name>NextArrivals</servlet-name>
    <servlet-class>simpleefa.server.NextArrivalsServlet</servlet-class>
  </servlet>      
   
  <servlet-mapping>
    <servlet-name>NextArrivals</servlet-name>
    <url-pattern>/nextarrivals</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Connection</servlet-name>
    <servlet-class>simpleefa.server.ConnectionServlet</servlet-class>
  </servlet>      
   
  <servlet-mapping>
    <servlet-name>Connection</servlet-name>
    <url-pattern>/connection</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Coordinate</servlet-name>
    <servlet-class>simpleefa.server.CoordinateServlet</servlet-class>
  </servlet>      
   
  <servlet-mapping>
    <servlet-name>Coordinate</servlet-name>
    <url-pattern>/coordinate</url-pattern>
  </servlet-mapping>

</web-app>
